<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ariana.shahre_ma"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".ShahreMa"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".Jobs"
            android:label="@string/title_activity_jobs"
            android:screenOrientation="portrait" >
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MainActivity" />
        </activity>
        <activity
            android:name=".Jobs_List"
            android:label="@string/title_activity_jobs__list"
            android:screenOrientation="portrait" >
            android:parentActivityName=".Jobs" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.Jobs" />
        </activity>
        <activity
            android:name=".job_details.Job_details"
            android:parentActivityName=".Jobs_List"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.Jobs_List" />
        </activity>
        <activity
            android:name=".job_details.job_details_1"
            android:label="@string/title_activity_job_details_1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".job_details.Job_details_map"
            android:label="@string/title_activity_job_details_map" >
        </activity>
        <activity
            android:name=".job_details.Job_details_comment"
            android:label="@string/title_activity_job_details_comment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".MyProfile.Sign_Up"
            android:label="@string/title_activity_sign__up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyProfile.Log_In"
            android:label="@string/title_activity_log__in"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MainActivity" />
        </activity>
        <activity
            android:name=".Bookmarks.BookMark"
            android:label="@string/title_activity_book_mark"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Notification.Activity_notify"
            android:label="@string/title_activity_activity_notify"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MainActivity" />
        </activity>

        <service android:name=".Service.MainService" >
        </service>

        <activity
            android:name=".Settings.Setting"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MainActivity" />
        </activity>
        <activity
            android:name=".ListExpand.ListActivity"
            android:label="@string/title_activity_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyCity.My_city"
            android:label="@string/title_activity_my_city"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MainActivity" />
        </activity>
        <activity
            android:name=".MyProfile.My_Profile"
            android:label="@string/title_activity_my__profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyProfile.Edit_User"
            android:label="@string/title_activity_edit__user"
            android:parentActivityName=".MyProfile.My_Profile"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MyProfile.My_Profile" />
        </activity>
        <activity
            android:name=".MyBusiness.My_Business"
            android:label="@string/title_activity_my__business"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MainActivity" />
        </activity>
        <activity
            android:name=".MyBusiness.Edit_business"
            android:label="@string/title_activity_add_business"
            android:parentActivityName=".MyBusiness.My_Business"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MyBusiness.My_Business" />
        </activity>
        <activity
            android:name=".MyBusiness.My_Business_Map"
            android:label="@string/title_activity_my__business__map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyBusiness.Edit_business" />
        </activity>
        <activity
            android:name=".MyInterest.My_Interest"
            android:label="@string/title_activity_my__interest"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MainActivity" />
        </activity>
        <activity
            android:name=".MyBusiness.Discount"
            android:label="@string/title_activity_discount"
            android:parentActivityName=".MyBusiness.My_Business"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MyBusiness.My_Business" />
        </activity>

        <receiver
            android:name=".NetWorkInternet.ConnectionChangeReceiver"
            android:label="NetworkConnection" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Service.TimeSetReceiver"
            android:label="TimeSet" >
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Settings.UpdateActivity"
            android:label="@string/title_activity_update"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".Service.ShowNotificationService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyBusiness.Add_New_Business"
            android:label="@string/title_activity_add__business"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NearMe.NearMeActivity"
            android:label="@string/title_activity_near_me"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MainActivity" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MainActivity" />
        </activity>
        <activity
            android:name=".Bazarche.Bazarche"
            android:label="@string/title_activity_bazarche"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MainActivity" />
        </activity>
        <activity
            android:name=".Bazarche.add_product"
            android:label="@string/title_activity_add_product"
            android:parentActivityName=".Bazarche.Bazarche" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.Bazarche.Bazarche" />
        </activity>
        <activity
            android:name=".Bazarche.My_products"
            android:label="@string/title_activity_my_products"
            android:parentActivityName=".Bazarche.Bazarche" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.Bazarche.Bazarche" />
        </activity>
        <activity
            android:name=".Bazarche.Edit_Product"
            android:label="@string/title_activity_edit__product"
            android:parentActivityName=".Bazarche.My_products" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.Bazarche.My_products" />
        </activity>
        <activity
            android:name=".Bazarche.Product_List"
            android:label="@string/title_activity_product__list"
            android:parentActivityName=".Bazarche.Bazarche" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.Bazarche.Bazarche" />
        </activity>
        <activity
            android:name=".Bazarche.product_Details"
            android:label="@string/title_activity_product__details"
            android:parentActivityName=".Bazarche.Product_List" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.Bazarche.Product_List" />
        </activity>
        <activity
            android:name=".Bazarche.Select_Image"
            android:label="@string/title_activity_select__image" >
        </activity>
        <activity
            android:name=".Search.SearchListActivity"
            android:label="@string/title_activity_search_list"
            android:screenOrientation="portrait" >
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.MainActivity" />
        </activity>
        <activity
            android:name=".Search.SearchMap"
            android:label="@string/title_activity_search_map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.Search.SearchListActivity" />
        </activity>
        <activity
            android:name=".Bazarche.FilterActivity"
            android:label="@string/title_activity_filter"
            android:parentActivityName=".Bazarche.Product_List" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ariana.shahre_ma.Bazarche.Product_List" />
        </activity>
    </application>

</manifest>
